  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
      <span class="navbar-brand clickable" (click)="goToHome()">The Donor Club</span>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="btn btn-primary text-white clickable" [routerLink]="['npo/join']">Register NPO</a>
          </li>
          <ng-container *ngIf="!(signedIn$ | async)">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link clickable text-dark" [routerLink]="['/login']">Sign Up/Login</a>
            </li>
          </ng-container>
          <ng-container *ngIf="(signedIn$ | async)">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <span class="nav-link text-dark clickable" (click)="logout()">Sign out</span>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>
